section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  width: 24rem;
  background-color: var(--secondary-bg);
  box-shadow: 4px 4px;
  text-align: center;
}

p {
  text-align: center;
}

canvas {
  width: 40px;
  height: 25px;
  margin-bottom: calc(25px * 5);
  transform: scale(-8, 8);
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.none {
  display: none;
}
